<% if @current_user.role == 'admin' or @question.user == @current_user.id %>

    <script>updateTypeAnswers = function(){
      if ($("#typeAnswer").val() == "multipleChoice") {
        $("#multform").show();
      } else {
        $("#multform").hide();
      }
      if ($("#typeAnswer").val() == "trueFalse") {
        $("#tfform").show();
      } else {
        $("#tfform").hide();
      }
      if ($("#typeAnswer").val() == "shortAnswer") {
        $("#shortform").show();
      } else {
        $("#shortform").hide();
      }
    }
    </script>

    <script>updatemChoiceQuantity = function(){
      if ($("#mChoiceQuantity").val() == "2Choice") {
        $("#2ChoiceForm").show();
      } else {
        $("#2ChoiceForm").hide();
      }
      if ($("#mChoiceQuantity").val() == "3Choice") {
        $("#3ChoiceForm").show();
      } else {
        $("#3ChoiceForm").hide();
      }
      if ($("#mChoiceQuantity").val() == "4Choice") {
        $("#4ChoiceForm").show();
      } else {
        $("#4ChoiceForm").hide();
      }
      if ($("#mChoiceQuantity").val() == "5Choice") {
        $("#5ChoiceForm").show();
      } else {
        $("#5ChoiceForm").hide();
      }
    }
    </script>
<div class="page-inner" ng-controller="questions_edit">
  <div class="page-title">
    <h3><%= @question.question_asked %></h3>

  </div>
  <div id="main-wrapper">
    <div class="row">

      <div class="col-md-12" ng-controller="courses">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Añadir pregunta //ARREGLAR</h3>
          </div>

          <div class="panel-body">
            <br>
            <%= form_for @question,{'onsubmit':"return false;"} do |f| %>

                <div class="col-md-12 form-group required">
                  <%= f.label :question_asked, "Pregunta"%><br />
                  <%= f.text_field :question_asked, autofocus: true, class: "form-control" %>
                </div>


                <div class="col-md-4 form-group ">
                  <%= f.label :type_answer, "Tipo de pregunta"%><br />
                  <select name="typeAnswer" id="typeAnswer" class="col-md-6 form-control">
                    <option value="multipleChoice">Selección múltiple</option>
                    <option value="trueFalse">Verdadero o falso</option>
                    <option value="shortAnswer">Respuesta corta</option>
                  </select>
                </div>

                <div class="col-md-2 form-group">
                  <%= f.label :time, "Tiempo en segundos"%><br />
                  <!--TIME_FIELD-->
                  <%= f.number_field :time, min: '10', autofocus: true, class: "form-control" %>
                </div>

                <div class="col-md-2 form-group">
                  <%= f.label :points, "Puntos de la pregunta"%><br />
                  <!--TIME_FIELD-->
                  <%= f.number_field :points, min: '0', autofocus: true, class: "form-control" %>
                </div>


                <div class="col-md-2 form-group">
                  <%= f.label :subject, "Tema de la pregunta"%><br />
                  <%= f.text_field :subject, autofocus: true, class: "form-control" %>
                </div>

                <script>$(document).ready(updateTypeAnswers);
                $("#typeAnswer").change(updateTypeAnswers);</script>



                <div style="display:none" id="multform" class="col-md-12 form-group">

                  <%= f.label "Selecciona la cantidad de alternativas"%><br />
                  <select name="mChoiceQuantity" id="mChoiceQuantity" class="col-md-6 form-control">
                    <option value="2Choice">2</option>
                    <option value="3Choice">3</option>
                    <option value="4Choice">4</option>
                    <option value="5Choice">5</option>
                  </select>

                  <script>$(document).ready(updatemChoiceQuantity);
                  $("#mChoiceQuantity").change(updatemChoiceQuantity);</script>


                  <div style="display:none" id="2ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :answers, autofocus: true, class: "form-control" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                    </select>
                  </div>

                  <div style="display:none" id="3ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[0]" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[1]" %><br />

                    <%= f.label :C, "Alternativa 3"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[2]" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" ng_model="question.correct_answer" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                      <option value="2">Alternativa 3</option>
                    </select>
                  </div>

                  <div style="display:none" id="4ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[0]" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[1]" %><br />

                    <%= f.label :C, "Alternativa 3"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[2]" %><br />

                    <%= f.label :D, "Alternativa 4"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[3]" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" ng_model="question.correct_answer" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                      <option value="2">Alternativa 3</option>
                      <option value="3">Alternativa 4</option>
                    </select>



                  </div>

                  <div style="display:none" id="5ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[0]" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[1]" %><br />

                    <%= f.label :C, "Alternativa 3"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[2]" %><br />

                    <%= f.label :D, "Alternativa 4"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[3]" %><br />

                    <%= f.label :E, "Alternativa 5"%>
                    <%= f.text_field :answers, autofocus: true, class: "form-control", ng_model:"question.answers[4]" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" ng_model="question.correct_answer" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                      <option value="2">Alternativa 3</option>
                      <option value="3">Alternativa 4</option>
                      <option value="4">Alternativa 5</option>
                    </select>
                  </div>



                </div>


                <div style="display:none" id="tfform" class="col-md-12 form-group">
                  <%= f.label "Selecciona la respuesta correcta"%><br />
                  <select name="tfAnswer" id="tfAnswer" ng_model="question.correct_answer" class="col-md-6 form-control">
                    <option value="0">Verdadero</option>
                    <option value="1">Falso</option>
                  </select>
                </div>


                <div style="display:none" id="shortform" class="col-md-12 form-group">
                </div>



                <div class="form-group col-md-12">
                  <%= f.label :course, "Asignar a un curso"%><br />
                  <label>Buscar: <input ng-model="searchTextMyCourses"></label>

                  <select name="repeatSelect" id="repeatSelect" multiple="true" class="col-md-12 form-control">
                    <% if @current_user.role == 'admin' %>
                        <option ng-repeat="course in courses | filter: searchTextMyCourses" value="{{course.id}}">{{course.name}} {{course.code}}</option>
                    <% elsif @current_user.role == 'teacher' %>
                        <option ng-repeat="course in courses | filter:{ teacher: '<%= @current_user.id %>'} | filter: searchTextMyCourses" value="{{course.id}}">{{course.name}} {{course.code}}</option>
                    <% elsif @current_user.role == 'student' %>
                        <option ng-repeat="course in courses | filter:{ assistant: '<%= @current_user.id %>'} | filter: searchTextMyCourses" value="{{course.id}}">{{course.name}} {{course.code}}</option>
                    <% end %>

                  </select>
                </div>



                <div class="col-md-4">
                  <a class="btn btn-success" ng-click="Add_question()">Editar //NO funcionando</a>
                </div>
            <%end%>
          </div>
        </div>
      </div>


    </div><!-- Row -->
  </div><!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Clickapp.</p>
  </div>
</div><!-- Page Inner -->
<% else %>
    <script type="text/javascript">
      window.location.href="/home"
    </script>
<% end %>