<script>updateTypeAnswers = function(){
  if ($("#typeAnswer").val() == "multipleChoice") {
    $("#multform").show();
  } else {
    $("#multform").hide();
  }
  if ($("#typeAnswer").val() == "trueFalse") {
    $("#tfform").show();
  } else {
    $("#tfform").hide();
  }
  if ($("#typeAnswer").val() == "shortAnswer") {
    $("#shortform").show();
  } else {
    $("#shortform").hide();
  }
}
</script>

<script>updatemChoiceQuantity = function(){
  if ($("#mChoiceQuantity").val() == "2Choice") {
    $("#2ChoiceForm").show();
  } else {
    $("#2ChoiceForm").hide();
  }
  if ($("#mChoiceQuantity").val() == "3Choice") {
    $("#3ChoiceForm").show();
  } else {
    $("#3ChoiceForm").hide();
  }
  if ($("#mChoiceQuantity").val() == "4Choice") {
    $("#4ChoiceForm").show();
  } else {
    $("#4ChoiceForm").hide();
  }
  if ($("#mChoiceQuantity").val() == "5Choice") {
    $("#5ChoiceForm").show();
  } else {
    $("#5ChoiceForm").hide();
  }
}
</script>


<div class="page-inner" ng-controller="questions" id="add_question">
  <div class="page-title">
    <h3>Preguntas</h3>

  </div>
  <div id="main-wrapper">
    <div class="row">


      <div class="col-md-12" ng-controller="courses">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Añadir pregunta</h3>
          </div>

          <div class="panel-body">
            <br>
            <%= form_for :question,{'onsubmit':"return false;"} do |f| %>

                <div class="col-md-12 form-group required">
                  <%= f.label :question_asked, "Pregunta"%><br />
                  <%= f.text_field :question_asked, autofocus: true, class: "form-control" ,ng_model:"question.question_asked" %>
                </div>


                <div class="col-md-4 form-group ">
                  <%= f.label :type_answer, "Tipo de pregunta"%><br />
                  <select name="typeAnswer" id="typeAnswer" ng_model="question.type_answer" class="col-md-6 form-control">
                    <option value="multipleChoice">Selección múltiple</option>
                    <option value="trueFalse">Verdadero o falso</option>
                    <option value="shortAnswer">Respuesta corta</option>
                  </select>
                </div>

                <div class="col-md-2 form-group">
                  <%= f.label :time, "Tiempo en segundos"%><br />
                  <!--TIME_FIELD-->
                  <%= f.number_field :time, min: '10', autofocus: true, class: "form-control" ,ng_model:"question.time" %>
                </div>

                <div class="col-md-2 form-group">
                  <%= f.label :points, "Puntos de la pregunta"%><br />
                  <!--TIME_FIELD-->
                  <%= f.number_field :points, min: '0', autofocus: true, class: "form-control" ,ng_model:"question.points" %>
                </div>


                <div class="col-md-2 form-group">
                  <%= f.label :subject, "Tema de la pregunta"%><br />
                  <%= f.text_field :subject, autofocus: true, class: "form-control" ,ng_model:"question.subject" %>
                </div>

                <script>$(document).ready(updateTypeAnswers);
                $("#typeAnswer").change(updateTypeAnswers);</script>



                <div style="display:none" id="multform" class="col-md-12 form-group">

                  <%= f.label "Selecciona la cantidad de alternativas"%><br />
                  <select name="mChoiceQuantity" id="mChoiceQuantity" class="col-md-6 form-control">
                    <option value="2Choice">2</option>
                    <option value="3Choice">3</option>
                    <option value="4Choice">4</option>
                    <option value="5Choice">5</option>
                  </select>

                  <script>$(document).ready(updatemChoiceQuantity);
                  $("#mChoiceQuantity").change(updatemChoiceQuantity);</script>


                  <div style="display:none" id="2ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :A, autofocus: true, class: "form-control", ng_model:"question.answers[0]" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :B, autofocus: true, class: "form-control", ng_model:"question.answers[1]" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" ng_model="question.correct_answer" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                    </select>
                  </div>

                  <div style="display:none" id="3ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :A, autofocus: true, class: "form-control", ng_model:"question.answers[0]" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :B, autofocus: true, class: "form-control", ng_model:"question.answers[1]" %><br />

                    <%= f.label :C, "Alternativa 3"%>
                    <%= f.text_field :C, autofocus: true, class: "form-control", ng_model:"question.answers[2]" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" ng_model="question.correct_answer" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                      <option value="2">Alternativa 3</option>
                    </select>
                  </div>

                  <div style="display:none" id="4ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :A, autofocus: true, class: "form-control", ng_model:"question.answers[0]" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :B, autofocus: true, class: "form-control", ng_model:"question.answers[1]" %><br />

                    <%= f.label :C, "Alternativa 3"%>
                    <%= f.text_field :C, autofocus: true, class: "form-control", ng_model:"question.answers[2]" %><br />

                    <%= f.label :D, "Alternativa 4"%>
                    <%= f.text_field :D, autofocus: true, class: "form-control", ng_model:"question.answers[3]" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" ng_model="question.correct_answer" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                      <option value="2">Alternativa 3</option>
                      <option value="3">Alternativa 4</option>
                    </select>



                  </div>

                  <div style="display:none" id="5ChoiceForm">

                    <%= f.label :A, "Alternativa 1"%>
                    <%-# radio_button_tag(:correct_answer, '0', ng_model:"question.correct_answer") %>
                    <%-# label_tag(:c_a, "Seleccionar como respuesta correcta") %>
                    <%= f.text_field :A, autofocus: true, class: "form-control", ng_model:"question.answers[0]" %><br />

                    <%= f.label :B, "Alternativa 2"%>
                    <%= f.text_field :B, autofocus: true, class: "form-control", ng_model:"question.answers[1]" %><br />

                    <%= f.label :C, "Alternativa 3"%>
                    <%= f.text_field :C, autofocus: true, class: "form-control", ng_model:"question.answers[2]" %><br />

                    <%= f.label :D, "Alternativa 4"%>
                    <%= f.text_field :D, autofocus: true, class: "form-control", ng_model:"question.answers[3]" %><br />

                    <%= f.label :E, "Alternativa 5"%>
                    <%= f.text_field :E, autofocus: true, class: "form-control", ng_model:"question.answers[4]" %><br />

                    <%= f.label "Selecciona la respuesta correcta"%><br />
                    <select name="mChoice" id="mChoice" ng_model="question.correct_answer" class="col-md-6 form-control">
                      <option value="0">Alternativa 1</option>
                      <option value="1">Alternativa 2</option>
                      <option value="2">Alternativa 3</option>
                      <option value="3">Alternativa 4</option>
                      <option value="4">Alternativa 5</option>
                    </select>
                  </div>



                </div>


                <div style="display:none" id="tfform" class="col-md-12 form-group">
                  <%= f.label "Selecciona la respuesta correcta"%><br />
                  <select name="tfAnswer" id="tfAnswer" ng_model="question.correct_answer" class="col-md-6 form-control">
                    <option value="0">Verdadero</option>
                    <option value="1">Falso</option>
                  </select>
                </div>


                <div style="display:none" id="shortform" class="col-md-12 form-group">
                </div>



                <div class="form-group col-md-12">
                  <%= f.label :course, "Asignar a un curso"%><br />
                  <label>Buscar: <input ng-model="searchTextMyCourses"></label>

                  <select name="repeatSelect" id="repeatSelect" multiple="true" ng_model="question.courses" class="col-md-12 form-control">
                    <% if @current_user.role == 'admin' %>
                        <option ng-repeat="course in courses | filter: searchTextMyCourses" value="{{course.id}}">{{course.name}} {{course.code}}</option>
                    <% elsif @current_user.role == 'teacher' %>
                        <option ng-repeat="course in courses | filter:{ teacher: '<%= @current_user.id %>'} | filter: searchTextMyCourses" value="{{course.id}}">{{course.name}} {{course.code}}</option>
                    <% elsif @current_user.role == 'student' %>
                        <option ng-repeat="course in courses | filter:{ assistant: '<%= @current_user.id %>'} | filter: searchTextMyCourses" value="{{course.id}}">{{course.name}} {{course.code}}</option>
                    <% end %>

                  </select>
                </div>

                <div class="col-md-4">
                  <a class="btn btn-success" ng-click="Add_question()">Crear Pregunta</a>
                </div>
            <%end%>
          </div>
        </div>
      </div>

      <!--questions listed -->

      <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading">
            <% if @current_user.role != 'admin'%>
                <h4 class="panel-title">Mis Preguntas</h4>
            <% else %>
                <h4 class="panel-title">Todas las Preguntas</h4>
            <% end %>
          </div>

          <div class="panel-body">
            <label>Buscar: <input ng-model="searchTextQuestions"></label>
            <div class="table-responsive project-stats">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Pregunta</th>
                  <th>Tema de la pregunta</th>
                  <th>Cursos</th>
                  <th>Tipo Preg</th>
                  <th>Creador</th>
                  <th>Acción</th>
                </tr>
                </thead>
                <tbody>

                <% if @current_user.role == 'admin' %>
                    <tr ng-repeat = "question in questions | filter: searchTextQuestions">
                <% else %>
                    <tr ng-repeat = "question in questions  | filter:{ user: '<%= @current_user.id %>' } | filter: searchTextQuestions">
                <% end %>
                <th scope="row">{{$index+1}}</th>
                <td>{{question.question_asked}}</td>
                <td>{{question.subject}}</td>
                <td>{{question.courses}}</td>
                <td>{{question.type_answer}}</td>
                <td>{{question.user}}</td><!-- MOSTRAR NOMBRE DE USUARIO-->
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Acción <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a ng-click="Delete_question($index)">Borrar</a></li>
                      <li><%= link_to "Editar", URI::unescape(edit_question_path(:id => '{{question.id}}')) %></li>
                      <li><%= link_to "Ver en gráfico", URI::unescape(ppt_live_path(:id => '{{question.id}}')) %></li>
                    </ul>
                  </div>
                </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>



    </div><!-- Row -->
  </div><!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Clickapp.</p>
  </div>
</div><!-- Page Inner -->