
    <div class="page-inner">
      <div class="page-title">
        <h3>Quizzes</h3>
      </div>
      <% if @current_user.role == 'admin' or @current_user.role == 'teacher' %>
      <div id="main-wrapper" ng-controller="quizzes">
        <div class="row" ng-controller="courses">


          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">A침adir quiz</h3>
              </div>

              <div class="panel-body">
                <br>


                <%= form_for :quiz,{'onsubmit':"return false;"} do |f| %>

                    <div class="col-md-12 form-group required">
                      <%= f.label :name, "Nombre del quiz"%><br />
                      <%= f.text_field :name, autofocus: true, class: "form-control" ,ng_model:"quiz.name" %>
                    </div>


                    <div class="col-md-4 form-group ">
                      <%= f.label :type, "Tipo de quiz"%><br />
                      <select name="typeAnswer" id="typeAnswer" ng_model="quiz.type" class="col-md-6 form-control">
                        <option value="user">Usuario</option>
                        <option value="annon">An칩nimo</option>
                      </select>
                    </div>

                    <div class="col-md-2 form-group">
                      <%= f.label :time, "Tiempo en segundos"%><br />
                      <!--TIME_FIELD-->
                      <%= f.number_field :time, min: '60', autofocus: true, class: "form-control" ,ng_model:"quiz.time" %>
                    </div>

                    <div class="col-sm-10 form-group">

                      <%= f.label "Selecciona el curso"%><br />

                      <% if @current_user.role == 'admin'%>
                          <select id="selectCourseAdmin" style="overflow-y: auto;"  multiple="true" class="col-md-12 form-control" ng_model="quiz.courses">
                            <option ng-repeat = "course in courses " value="{{course.id}}">{{course.name}}</option>
                          </select>


                          <script type="text/javascript">
                            $("#selectCourseAdmin").select2();
                          </script>
                      <% else %>
                          <select id="selectCourse" style="overflow-y: auto;" multiple="true" class="col-md-12 form-control" ng_model="quiz.courses">
                            <option ng-repeat = "course in courses |  filter: { teacher: '<%= @current_user.id %>'}" value="{{course.id}}">{{course.name}}</option>
                          </select>

                          <script type="text/javascript">
                            $("#selectCourse").select2();
                          </script>
                      <% end %>



                    </div>


                    <div class="form-group col-md-12" ng-controller="questions">
                      <%= f.label :questions, "Asignar preguntas"%><br />

                      <select id="selectQuestionsfromCourse" style="overflow-y: auto;" name="repeatQuestion" ng_model="quiz.questions" multiple="true" class="col-md-12 form-control">
                        <% (0..10).each do |i| %> <!--lista 2 veces la pregunta -->
                        <option ng-if="quiz.courses['<%= i %>']" ng-repeat="question in questions | filter : {courses: quiz.courses['<%= i %>']}" value="{{question.id}}" >{{question.question_asked}}</option>
                        <% end %>

                      </select>

                      <script type="text/javascript">
                        $("#selectQuestionsfromCourse").select2();
                      </script>

                    </div>

                    <div class="col-md-4">
                      <a class="btn btn-success" ng-click="Add_quiz()">Crear Quiz</a>
                    </div>
                <%end%>
              </div>
            </div>
          </div>






      <% end %>


          <div class="col-lg-12 col-md-12">
            <div class="panel panel-white">
              <div class="panel-heading">
                <%if @current_user.role == 'admin' %>
                    <h4 class="panel-title">Quizzes Creados</h4>
                <% else %>
                    <h4 class="panel-title">Mis Quizzes</h4>
                <% end %>

              </div>
              <div class="panel-body">
                <div class="table-responsive project-stats">
                  <label>Buscar: <input ng-model="searchTextQuizzes"></label>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Tipo</th>
                      <th>Curso</th>
                      <th>Acci칩n</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%if @current_user.role == 'admin' %>
                        <tr ng-repeat = "quiz in quizzes | filter:searchTextQuizzes">
                    <% else %>
                        <tr ng-repeat = "quiz in quizzes | filter:{ user: '<%= @current_user.id %>'} | filter:searchTextQuizzes">
                    <% end %>
                      <th scope="row">{{$index+1}}</th>
                      <td>{{quiz.name}}</td>
                      <td>{{quiz.type}}</td>
                      <td>
                        <% (0..10).each do |i| %>
                            <div ng-if="quiz.courses['<%= i %>']">
                              <div ng-repeat="course in courses | filter : {id: quiz.courses['<%= i %>']}">{{course.name}} {{course.code}}</div>
                            </div>
                        <% end %>
                      </td>

                      <td>

                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Acci칩n <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                                <li><%= link_to "Ver Quiz", URI::unescape(quiz_path(:id => '{{quiz.id}}')) %></li>
                            <% if @current_user.role == 'admin' or @current_user.role == 'teacher'%>
                                <li><%= link_to "Editar", URI::unescape(edit_quiz_path(:id => '{{quiz.id}}')) %></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="Delete_quiz(quiz)">Borrar</a></li>
                            <% end %>

                          </ul>
                        </div>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div><!-- Row -->
      </div><!-- Main Wrapper -->
      <div class="page-footer">
        <p class="no-s">2016 &copy; Clickapp.</p>
      </div>
    </div><!-- Page Inner -->




