
<% if @current_user.role == 'admin' or @course.students.include? @current_user.id or @course.teacher == @current_user.id or @course.assistant == @current_user.id %>

<div class="page-inner" ng-controller="questions">
  <div class="page-title">
    <h3><%= @course.name %> | <%= @course.code %></h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <!-- Row -->

      <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading">
            <h4 class="panel-title">Información del curso</h4>
          </div>
          <div class="panel-body">
            <% if @course.teacher %>
              <% @course.users_teacher.each do |user| %>
                  <p>Profesor <%= user.name %> <%= user.lastname %> - <%= mail_to user.email %>
              <% end %><br>
            <% else %>
                <p> Profesor NN </p>
            <% end %>
            <% if @course.assistant %>
            <% @course.users_assistant.each do |user| %>
                Ayudante <%= user.name %> <%= user.lastname %> - <%= mail_to user.email %></p>
            <% end %>
            <% else %>
                <p> Ayudante NN </p>
            <% end %>

          </div>
        </div>
      </div>


      <% if @current_user.role != 'student'%>
      <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading">
            <h4 class="panel-title">Alumnos solicitando acceso al curso</h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive project-stats">
              <table class="table">
                <thead>
                <tr>
                  <th>Rut</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <% @course.users_request.each do |user| %>
                <tr id="request_id_-<%= user.id %>">
                  <div ng-controller="itemsControllerHiddenDiv">
                    <div id="div-item-data" data-item-id="<%= user.id %>"></div>
                  </div>
                  <td><%= user.rut%></td>
                  <td><%= user.name%></td>
                  <td><%= user.lastname%></td>
                  <td><%= user.email%></td>

                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Acción <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><%= link_to "Aceptar Solicitud", {:controller => "courses", :action => "acceptRequest", :id => @course.id, :user => user.id }%></li>
                        <li><%= link_to "Borrar Solicitud", {:controller => "courses", :action => "deleteRequest", :id => @course.id, :user => user.id }%></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                  <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <% end %>


      <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading">
            <h4 class="panel-title">Alumnos en el curso</h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive project-stats">
              <table class="table">
                <thead>
                <tr>
                  <% if @current_user.role == 'admin' || @current_user.role == 'teacher' %>
                      <th>Rut</th>
                  <% end %>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <% @course.users_students.each do |user| %>
                    <tr>
                      <% if @current_user.role == 'admin' || @current_user.role == 'teacher' %>
                          <td><%= user.rut%></td>
                      <% end %>
                      <td><%= user.name%></td>
                      <td><%= user.lastname %></td>
                      <td><%= user.email%></td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Acción <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <% if @current_user.role == 'admin' || @current_user.role == 'teacher' %>
                                <li><a>Ver estadísticas</a></li>
                                <li><%= link_to "Borrar alumno", {:controller => "courses", :action => "deleteStudent", :id => @course.id, :user => user.id }%></li>

                          <% end %>


                          </ul>
                        </div>
                      </td>
                    </tr>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!--questions listed IF ASSISTANT OR TEACHER-->

      <% if @course.assistant == @current_user.id or @course.teacher == @current_user.id  or @current_user.role == 'admin' %>


          <div class="col-lg-12 col-md-12" ng-controller="quizzes">
            <div class="panel panel-white">
              <div class="panel-heading">
                <h4 class="panel-title">Quizzes en el curso</h4>
              </div>

              <div class="panel-body">
                <label>Buscar: <input ng-model="searchTextMyQuizzes"></label>
                <div class="table-responsive project-stats">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Quiz</th>
                      <th>Tipo Quiz</th>
                      <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "quiz in quizzes | filter:{ courses: '<%= @course.id %>'} | filter: searchTextMyQuizzes">

                      <th scope="row">{{$index+1}}</th>
                      <td>{{quiz.name}}</td>
                      <td>{{quiz.type}}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Acción <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Editar", URI::unescape(edit_quiz_path(:id => '{{quIZ.id}}')) %></li>
                            <li><a ng-click="Delete_quiz(quiz)">Borrar</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>







      <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading">
            <h4 class="panel-title">Preguntas en el curso</h4>
          </div>

          <div class="panel-body">
            <label>Buscar: <input ng-model="searchTextMyQuestion"></label>
            <div class="table-responsive project-stats">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Pregunta</th>
                  <th>Tema de la pregunta</th>
                  <th>Tipo Preg</th>
                  <th>Creador</th>
                  <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat = "question in questions | filter: { courses: '<%= @course.id %>'} | filter: searchTextMyQuestion">

                <th scope="row">{{$index+1}}</th>
                <td>{{question.question_asked}}</td>
                <td>{{question.subject}}</td>
                <td>{{question.type_answer}}</td>
                <td>{{question.user}}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Acción <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "Editar", URI::unescape(edit_question_path(:id => '{{question.id}}')) %></li>
                      <li><%= link_to "Ver en gráfico", URI::unescape(ppt_live_path(:id => '{{question.id}}')) %></li>
                    </ul>
                  </div>
                </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <% end %>








    </div>
  </div><!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Clickapp.</p>
  </div>
</div><!-- Page Inner -->

<% else %>
    <script type="text/javascript">
      window.location.href="/home"
    </script>
<% end %>